__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.ruff_cache/
data/raw/
*.rar
*.zip
*.7z
*.jpg
*.jpeg
*.png
*.webp
artifacts/
*.pt
*.pth
*.onnx
*.tar.gz
.env
.aws/
*.pem
*.key
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.vscode/
.idea/
.DS_Store
Thumbs.db
